
        .thumbnail{
            width: 100%;   
        }

        .video-title{
            font-weight: 500 ;
            line-height: 22px;
            font-size: 16px;
            margin-bottom: 20px
        }
        .video-info-grid{
            display: grid;
            grid-template-columns: 50px 1fr;
        }
        
        .profile-picture{
            
            width: 36px;   
            height: 36px;
            border-radius: 50px;
        }
        .thumbnail-row{
            position: relative;
        }
        .video-author,.video-stats{
            font-size: 14px;
            color: rgb(170,170,170);
            margin-top: 7px;
            margin-bottom: 0px;
        }
        .video-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }

        @media(max-width: 750px){
            .video-grid{
                grid-template-columns: 1fr 1fr;
            }
        }
        @media(min-width: 1150px){
            .video-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        .video-time{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 12px;
            font-weight: 400;
            padding: 4px;
            border-radius: 2px;
            background-color: rgb(0, 0, 0);
            color: white;
            position: absolute;
            bottom: 10px;
            right: 8px;

        }