.flipkart-head-fixed{
    background-color:#2875f0;
    display: flex;
    flex-direction: row;
    color:white;
    width: 100%;
    height:65px;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    
}
.logo-1{
    font-size: 30px;
    
}
.logo-2{
    font-size: 15px;
}
.logo{
    margin-left: 200px;
}
.search-bar{
    width: 550px;
    margin-left: 16px;
    height: 30px;
    border-radius: 2px;
    border: none;
    padding-left: 20px;
}
.login-button{
    width: 100px;
    height: 30px;
    background-color: white;
    border:none;
    margin-left:30px;
    color:#2874f0;
    font-size: 16px;
}
.head-more{
    margin-left: 150px;
    font-size:20px;
}

.flipkart-2nd-head{
    top:64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    right: 0px;
    color: black;
    background-color: #ffffff;
    height: 38px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(58, 58, 58, 0.405);

}
.flipkart-2nd-head div{
    font-size: 17px;
}
.flipkart-2nd-head div:hover{
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: #2874f0;
    color: #2874f0;
}

.main-full-container{
    display: grid; 
    grid-template-rows: 1fr 2fr;  
}
.img-main-container{
    display: flex;
    position: fixed;
    top: 104px;
    bottom: 0;
    width: 800px;
    background-color: rgb(209, 205, 205);
}
.min-img-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 680px;
    
}
.min-img-container div{
    display: flex;
  align-items: center;
  justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 0.7px solid rgba(160, 160, 160, 0.359);
}

.min-img-container img{
    width: 98%;
    height: 98%;
    object-fit: contain;
}

.min-img-container div:hover{
    cursor: pointer;
    border: 1.5px solid #008cff; 
}
.img1-big{
    width: 100%;
    height: 100%;
   object-fit: contain;
}
.big-img-container{
    padding: 10px 2px;
    position: fixed;
    width: 650px;
    left: 158px;
    height: 650px;
    border-left:1px solid rgba(79, 79, 79, 0.564) ;
    border-right:1px solid rgba(79, 79, 79, 0.564) ;
    background-color: rgb(255, 255, 255);
}
.buynow-con{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    top: 773px;
    width: 813px;
    border-top: 1px solid rgba(79, 79, 79, 0.564);
}
.buynow-con button{
    margin-top: 10px;
    margin-left: 10px;
    width: 270px;
    height: 60px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0.5px solid rgba(128, 128, 128, 0.637);
    cursor: pointer;
}
.information-main-container{
    background-color: rgb(255, 255, 255);
    margin-left: 805px;
    margin-top: 100px;
    margin-right: 0px;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}
.a{
    background-color: #388e3c;
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
}
.b{
    font-size: 35px;
    font-weight: bold;
}
.c{
    font-size: 20px;
    color: grey;
    text-decoration: line-through;
}


.information-main-container div{
    font-size: 19px;
    margin-bottom: 8px;
}